<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0">
        <title>BeTogether-Getsocial</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <section>
            <div class="login-form">
                <h1>Login</h1>
                <form action="">
                    <div class="control">
                        <label for="name">Username</label>
                        <input type="text" required name="name" id="name">
                    </div>
                    <div class="control">
                        <label for="passwd">Password</label>
                        <input type="password" required name="passwd" id="passwd">
                    </div>
                        <input type="checkbox"> Remember me </span>
                    <div class="control">
                        <input type="submit" value="Login">
                    </div>
                    
                </form>
                <div class="link">
                    <a href="">Forget Password</a>
                </div>
                <div class="link">
                    <a href="">Signup</a>
                </div>
            </div>
    </section>

    </body>
</html>