<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Registration</title>
        <link rel="stylesheet" href="style2.css">
        <link rel="stylesheet" href="css/all.min.css">
    </head>
        <section>
            <div class="registration-form">
                <h1>Signup</h1>
                <form action="login.html">
                    <div class="control">
                        <label for="name"><i class='fas fa-user-alt'></i>&nbsp&nbsp Enter your Username</label>
                        <input type="text" required name="name" id="name">
                    </div>
                    <div class="control">
                        <label for="passwd"><i class="fas fa-lock"></i>&nbsp&nbsp Enter your Password(8 characters min)</label>
                        <input type="password" required name="passwd" minlength="8" id="passwd">
                    </div>
                    <div class="control">
                        <label for="e-mail">Enter your email</label>
                        <input type="text" required name="e-mail" id="e-mail">
                    </div>
                    <div class="control">
                        <input type="submit" value="Signup" >
                    </div>
                </form>
            </div>
        </section>
</html>